.btn-success {
  background-color: #0095d2;
  text-align: center;
  text-align: center;
  color: white;
  padding-top: 6px;


}
.formCol {
  font-size: 11px;
  margin-left: 16px;
  padding-left: 8px;


}

.formRow {
  display: flex;
  margin-right: 16px;

}
.Remove-button {

  background-color: #ff0000;
  text-align: center;
  color: white;
  font-size: 32px;
  padding-bottom: 7px;
  margin-left: 16px;

}
.formGroup{

  margin-left: 32px;
  background-color: whitesmoke;


}
.formSection{
  color: black;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: black;
}
