
.btn-success {
  background-color: #0095d2;
  text-align: center;
  text-align: center;
  color: white;
  padding-top: 6px;


}
.formCol {
  font-size: 11px;
  margin-left: 16px;
  padding-left: 8px;


}

.formRow {
  display: flex;
  margin-right: 16px;

}
.lable1{
  color: #505050;
}
.Remove-button {

  background-color: #ff0000;
  text-align: center;
  color: white;
  font-size: 32px;
  padding-bottom: 7px;
  margin-left: 16px;

}

.formGroup{

  margin-left: 32px;

}
.formSection{
  color: black;
}

.checkClass {
  padding-top: 12px;
  font-size: 13px;
}

.formCol::ng-deep .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: rgba(0,0,0,.4);
}

.formCol::ng-deep .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after,
.formCol::ng-deep .mat-input-element:disabled,
.formCol::ng-deep .mat-select-disabled .mat-select-value,
.formCol::ng-deep .mat-checkbox-disabled .mat-checkbox-label

{
  color: rgba(0,0,0,0.8);
}


