.flex-container {
  padding: 8px;
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
}
* {
  max-width: 100%;
  box-sizing: border-box;
  outline: 0;
  font-family: Montserrat, sans-serif;
}


.column {
  padding: 8px;
  flex: 20%;
  max-width: 20%;
}

.createdatabase {
  background-color: coral;
  color: #fff;

}

.mat-card {
  cursor: pointer;
}
