
.submit-button {
  background-color: #0095d2;
  margin: 8px;
  text-align: center;
  color: white;


}


.Remove-button {

  background-color: #ff0000;
  text-align: center;
  color: white;
  margin: 40px;
  font-size: 32px;

}
.type-control {
  margin: 8px;
}


.btn-button {
  padding-top: 2px;
  padding-left: 2px;

}

.input-button{

   margin-right: 16px;


}
.option-class {

margin: 16px;
border: thin;
border-radius: 2px;
text-underline-position: above;
-webkit-text-size-adjust: 0%;
overflow: hidden;

}
.index-class {

  padding-top: 8px;

}

.index-lable {
  margin-right: 8px;
  margin-left: 8px;

}
.input-lable {
  margin: 8px;

}
.temple {
  box-sizing: 12px;


}
.nestedform {
  color: blue;

}
